name: "publish"

on:
  workflow_dispatch:
    inputs:
      tagName:
        description: "tag to build"
        required: true
        default: "0.0.0"
  workflow_call:
    inputs:
      tagName:
        required: true
        type: string

# This is the example from the readme.
# On each push to the `release` branch it will create or update a GitHub release, build your app, and upload the artifacts to the release.

jobs:
  publish-tauri:
    env:
      TAG_NAME: ${{ github.event_name == 'push' && github.ref_name || github.event.inputs.tagName }}
    permissions:
      contents: write
      id-token: write

    outputs:
      artifact-name: chiffrage-bin-${{ matrix.platform }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - platform: "macos-latest" # for Arm based macs (M1 and above).
            args: "--target aarch64-apple-darwin"
          - platform: "macos-latest" # for Intel based macs.
            args: "--target x86_64-apple-darwin"
          - platform: "ubuntu-22.04" # for Tauri v1 you could replace this with ubuntu-20.04.
            args: ""
          - platform: "windows-latest"
            args: ""

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup bun
        uses: oven-sh/setup-bun@v2

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: bun install

      - name: build binaries
        run: bun tauri build ${{ matrix.args }}
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"

      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chiffrage-artifacts-${{ matrix.platform }}
          path: src-tauri/target/**/release/bundle/**/*
          overwrite: true

  release:
    permissions:
      contents: write
      id-token: write
      attestations: write
      artifact-metadata: write
    runs-on: ubuntu-latest
    needs: [publish-tauri]

    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: sign release artifacts
        uses: sigstore/gh-action-sigstore-python@v3.2.0
        with:
          inputs: artifacts/**

      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: artifacts/**

      - name: make release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ inputs.tagName }}
        run: |
          export CHANGELOG=$(git log --oneline "$(git describe --tags --abbrev=0)"..HEAD)
          gh release create $TAG_NAME artifacts/* -n $CHANGELOG
